<img class="card-img-top img-fluid" src={{currentRestaurant.restaurantImage}} alt="Card image cap" width="300" height="300" />
    <div class="card-body">
        <h3 class="card-title fw-bold">{{currentRestaurant.restaurantName}}</h3>
            <p class="card-text">{{currentRestaurant.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button (click)="viewMenus(currentRestaurant.restaurantID)" class="btn btn-primary" > View </button>
                    <button (click)="editRes()" class="btn btn-warning"> Edit </button>
                </div>
            <small class="text-muted">{{currentRestaurant.tag}}</small>
        </div>
    </div>
