<img class="card-img-top img-fluid" src={{currentRestaurant.restaurantImage}} alt="Card image cap" width="300" height="300" />
    <div class="card-body">
        <h5 class="card-title">{{currentRestaurant.restaurantName}}</h5>
            <p class="card-text">{{currentRestaurant.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button class="btn btn-primary"> View </button>
                    <button class="btn btn-warning"> Edit </button>
                </div>
            <small class="text-muted">{{currentRestaurant.tag}}</small>
        </div>
    </div>