/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* translucent glass background*/
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
}

.circular-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
