/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* translucent glass background*/
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}
.circular-button {
  width: 45px;
  height: 60px;
  border-radius: 50%;
}
