<router-outlet></router-outlet>
<!--<div *ngFor="let menu of menuOutput">{{menu['menuID']}}</div> -->
<div class="manage-menu">
    <div class="sidebar">
      <h1>{{ restaurantOutput.restaurantName }}</h1>
      <h2>Menu Section</h2>
      <!--<ul>
        <li><a href="#">Starters</a></li>
        <li><a href="#">Mains</a></li>
      </ul> -->
      <button class="add-section-button">+ Add Section</button>
      <button class="save-button">Save Changes</button>
    </div>
  
    <div class="content">
      <h2 class="title">{{ menuOutput[0]?.menuName }}</h2>
      <div class="dropdowns">
        <select>
            <ng-container *ngFor="let menu of menuOutput">
              <ng-container *ngFor="let sectionKey of getMenuSectionKeys(menu)">
                <option [value]="menu.menuID">{{ sectionKey }}</option>
              </ng-container>
            </ng-container>
          </select>          
      </div>
      <table>
        <thead>
          <tr>
            <th>Dish Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Upload Image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let dish of dishes">
            <td>{{ dish.name }}</td>
            <td>{{ dish.description }}</td>
            <td>{{ dish.price }}</td>
            <td>{{ dish.image }}</td>
            <td><button class="delete-button" (click)="deleteDish(dish.name)"><i class="fas fa-trash"></i></button></td>
          </tr> -->
        </tbody>
      </table>
      <button class="add-item-button">+ Add Item</button>
    </div>
  </div>
  