.manage-menu {
    display: flex;
    font-family: 'Roboto', sans-serif;
  }
  
  .sidebar {
    width: calc(100% / 6);
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 10px; /* Add spacing at the bottom */
    color: #333;
  }
  
  .sidebar h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .content {
    width: calc(2 * (100% / 3));
    padding: 20px;
  }
  
  .title {
    font-weight: bold;
    color: #333;
  }
  
  .dropdowns {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
  
  table th:last-child,
  table td:last-child {
    text-align: center;
  }
  
  .delete-button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    color: #ff0000;
  }
  
  .add-section-button {
    /* existing styles */
    margin-bottom: 10px; /* Add margin at the bottom */
  }
  
  .save-button {
    /* existing styles */
    margin-top: 10px; /* Add margin at the top */
  }
  