<router-outlet></router-outlet>
<div *ngFor="let menu of menuOutput">{{menu['menuID']}}</div> 
<div class="manage-menu">
    <div class="sidebar">
      <h1> Restaurant Name</h1>
      <h2>Menu Section</h2>
      <ul>
        <li><a href="#">Starters</a></li>
        <li><a href="#">Mains</a></li>
      </ul>
      <button class="add-section-button">+ Add Section</button>
    </div>
  
    <div class="content">
      <h2 class="title">Title</h2>
      <div class="dropdowns">
        <select>
          <option value="starters">Starters</option>
          <option value="mains">Mains</option>
        </select>
    </div>

      <table>
        <thead>
          <tr>
            <th>Dish Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Upload Image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let dish of dishes">
            <td>{{ dish.name }}</td>
            <td>{{ dish.description }}</td>
            <td>{{ dish.price }}</td>
            <td>{{ dish.image }}</td>
            <td><button class="delete-button" (click)="deleteDish(dish.name)"><i class="fas fa-trash"></i></button></td>
          </tr> -->
        </tbody>
      </table>
      <button class="add-item-button">+ Add Item</button>
      <button class="save-button">Save Changes</button>
    
    </div>
  </div>
  
  